//* CALC-HEAD
.calc-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 942px;
  margin: 0 auto;
  padding: 47px 46px;
  box-sizing: border-box;
  background-color: #fbfcfe;
  border-radius: 16px 16px 0 0;
  &__input {
    flex-grow: 1;
    padding: 12px 0;
    font-size: 20px;
    color: $dark;
    border: none;
    border-bottom: 1px solid $light-gray;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $dark;
    }
  }
  &__select {
    flex: 0 0 200px;
    margin: 0px 48px;
    padding: 12px 0;
    font-size: 20px;
    color: $dark;
    border: none;
    border-bottom: 1px solid $light-gray;
    appearance: none;
    background-image: url(../images/arrow-select.svg);
    background-repeat: no-repeat;
    background-position: 98% 18px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
  &__btn {
    flex: 0 0 146px;
    padding: 19px 0;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: $white;
    background-color: $blue;
    border: none;
    border-radius: 32px;
    transition: 0.4s ease color;
    cursor: pointer;
    &:hover {
      background-color: $purple;
    }
  }
}
// MEDIA MAX-WIDTH:900px
@media (max-width: 900px) {
  .calc-head {
    &__input {
      flex-grow: 0;
      width: 100%;
      margin-bottom: 10px;
    }
    &__select {
      margin: 0px;
    }
  }
}
// MEDIA MAX-WIDTH:500px
@media (max-width: 500px) {
  .calc-head {
    justify-content: flex-end;
    &__select {
      flex: 0 0 100%;
    }
    &__btn {
      margin-top: 10px;
    }
  }
}
// MEDIA MAX-WIDTH:320px
@media (max-width: 320px) {
  .calc-head {
    padding: 30px 20px;
  }
}

//* CALC-FOOT
.calc-foot {
  max-width: 942px;
  margin: 0 auto;
  margin-bottom: 105px;
  padding: 53px 46px;
  box-sizing: border-box;
  background-color: $white;
  border-radius: 0 0 16px 16px;
  &__title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: $blue;
  }
  &__total {
    margin: 25px 0px 14px 0px;
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    span {
      color: $blue;
    }
  }
  &__description {
    margin: 0;
    font-size: 16px;
    color: #828282;
  }
}
// MEDIA MAX-WIDTH:900px
@media (max-width: 900px) {
  .calc-foot {
    margin-bottom: 80px;
    &__total {
      margin-top: 15px;
      font-size: 30px;
    }
  }
}
// MEDIA MAX-WIDTH:600px
@media (max-width: 600px) {
  .calc-foot {
    margin-bottom: 50px;
  }
}
// MEDIA MAX-WIDTH:500px
@media (max-width: 500px) {
  .calc-foot {
    padding: 20px 30px 30px 30px;
  }
}
// MEDIA MAX-WIDTH:320px
@media (max-width: 320px) {
  .calc-foot {
    margin-bottom: 30px;
    padding: 10px 30px;
    &__total {
      font-size: 26px;
    }
  }
}