.crypto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 57px;
  text-align: center;
  &__item {
    flex: 0 0 31%;
    padding: 52px 30px 47px;
    color: $dark;
    background-color: $white;
    border-radius: 16px;
    box-sizing: border-box;
    transition: 0.2s ease background-color, 0.2s ease color;
    &:hover {
      color: $white;
      background-color: $purple;
      .crypto__item-description {
        color: $white;
      }
      .crypto__item-btn {
        background-color: $blue;
      }
      .crypto__item-btn--text {
        width: 133px;
      }
      .crypto__item-btn--icon {
        border: 2px solid $white;
        transform: scale(0.5);
      }
    }
  }
  &__item-title {
    margin: 47px 0px 21px 0px;
    font-size: 32px;
    font-weight: 700;
    sup {
      font-size: 18px;
      font-weight: 500;
      color: #bdbdbd;
    }
  }
  &__item-description {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.7;
    color: #828282;
    transition: 0.2s ease color;
  }
  &__item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 205px;
    margin: 0 auto;
    padding: 0 15px;
    font-size: 18px;
    text-decoration: none;
    color: $white;
    background-color: $white;
    border-radius: 32px;
    transition: 0.2s ease color;
  }
  &__item-btn--text {
    width: 0;
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s ease width;
  }
  &__item-btn--icon {
    display: block;
    width: 64px;
    height: 64px;
    background-color: $white;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid rgba(43, 7, 110, 0.2);
    border-radius: 100%;
    transform: scale(1);
    transition: 0.2s ease border, 0.2s ease transform;
  }
}
// MEDIA MAX-WIDTH:900px
@media (max-width: 900px) {
  .crypto {
    &__item {
      flex: 0 0 49%;
      &:last-child {
        margin-top: 15px;
      }
    }
    &__item-title {
      font-size: 30px;
    }
  }
}
// MEDIA MAX-WIDTH:600px
@media (max-width: 600px) {
  .crypto__item {
    flex: 0 0 100%;
    &:nth-child(2) {
      margin-top: 15px;
    }
  }
}
// MEDIA MAX-WIDTH:500px
@media (max-width: 500px) {
  .crypto__item {
    padding: 42px 20px 37px;
  }
}
// MEDIA MAX-WIDTH:320px
@media (max-width: 320px) {
  .crypto {
    &__item {
      padding: 24px 10px 20px;
    }
    &__item-title {
      font-size: 26px;
      margin-top: 30px;
    }
  }
}
