.form {
  display: flex;
  justify-content: space-between;
  padding: 54px 50px;
  background-color: $blue;
  border-radius: 16px;
  &__text {
    flex-grow: 1;
  }
  &__text-title {
    margin-top: 0;
    margin-bottom: 27px;
    font-size: 32px;
    font-weight: 700;
  }
  &__text-description {
    max-width: 348px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.5;
  }
  &__letter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 566px;
  }
  &__letter-input {
    width: 100%;
    margin-right: 40px;
    padding: 10px 0;
    font-size: 16px;
    color: $white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $white;
    &::placeholder {
      color: $white;
    }
  }
  &__letter-btn {
    padding: 18px 32px;
    font-size: 18px;
    font-weight: 500;
    color: $dark;
    background-color: $white;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    transition: 0.4s ease background-color;
    &:hover {
      color: $white;
      background-color: $purple;
    }
  }
}
// MEDIA MAX-WIDTH:1055px
@media (max-width: 1055px) {
  .form {
    flex-direction: column;
    &__letter {
      flex: 0 0 0px;
    }
    &__text-description {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
}
// MEDIA MAX-WIDTH:600px
@media (max-width: 600px) {
  .form {
    padding: 44px 30px;
    &__text-title {
      font-size: 30px;
    }
    &__letter {
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    &__letter-input {
      margin-right: 0px;
      margin-bottom: 10px;
    }
  }
}
// MEDIA MAX-WIDTH:320px
@media (max-width: 320px) {
  .form {
    padding: 30px 20px;
    &__text-title {
      font-size: 26px;
    }
  }
}